.main > .container {
    max-width: 36.625rem !important;
    margin: 0 auto;
}

.card__footer {
    button {
        margin-right: 4px;
    }
}

.d-flex {
    display: flex;
}

.pull-right{
    float: right;
}

.footer-btn  {
    margin: 12px 0px;

    button {
        margin-left: 4px;
    }
}

.header-report {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 2rem;
    row-gap: 0.5rem;
    font-size: .75rem;
    font-weight: 600;
}

.kop {
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid black;
    position: relative;
    text-align: center;

    .logo {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);

        img {
            max-width: 100px;
            height: auto;
        }
    }

    .univ-info {
        display: inline-block;
        margin: 0 auto;

        h1 {
            margin: 0;
            font-size: 24px;
        }

        p {
            margin: 0;
            font-size: 14px;
            color: #666;
        }
    }
}
