#registration-success {
    > .content {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 20px;
        padding: 40px 24px;
        margin: 0 auto;
        max-width: 600px;
    }
}
#account-info {
    max-width: 460px;
    > .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .copy-btn {
            display: flex;
            align-items: center;
            gap: 3px;
            cursor: pointer;
            .icon {
                font-weight: bold;
                font-size: 16px;
                color: rgb(43, 69, 162);
            }
        }
    }
}
