#registration-form {
    .registration-form-card {
        background-color: #fff;
        border: 1px solid #dfe3e9;
        box-shadow: 0px 4px 30px rgba(97, 97, 97, 0.1);
        border-radius: 8px;
        margin-bottom: 24px;
        .choosed-path {
            .choosed-path-item {
                background: rgba(43, 69, 162, 0.05);
                border: 1px solid var(--qn-primary);
                border-radius: 6px;
                padding: 16px;
                display: flex;
                gap: 12px;
                .content {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 6px;
                    h4 {
                        font-weight: 600;
                        font-size: 14px;
                        text-transform: capitalize;
                        color: var(--qn-primary);
                        margin: 0;
                    }
                    p {
                        font-weight: 400;
                        letter-spacing: 0.2px;
                        color: #2a2a2c;
                        font-size: 14px;
                    }
                    a {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        -webkit-text-decoration-line: underline;
                        text-decoration-line: underline;
                        text-transform: capitalize;
                        color: var(--qn-primary);
                        margin: 0;
                    }
                }
            }
        }
        h1 {
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            color: #2a2a2c;
            margin-bottom: 0;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #667686;
        }
        .registration-form-card-body {
            .title-section {
                display: flex;
                align-items: center;
                gap: 15px;
                padding-top: 25px;
                padding-bottom: 20px;
            }
        }
        .registration-form-card-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}
