@import "../../../../../../public/scss/media";
@import "../../../../../../resources/scss/custom-utils.scss";

.important {
    color: #ec3d27 !important;
}

.modal {
    z-index: 2000 !important;
}

@include media-up("md") {
    .main > form > .container {
        max-width: 48rem !important;
    }
}

.hidden {
    display: none !important;
}

.audit-person {
    .link {
        cursor: pointer !important;
    }
    
    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            display: flex;
            align-items: center;
            gap: 12px;

            &_text {
                font-size: 0.875rem;
                font-style: normal !important;
                font-weight: 500 !important;
                line-height: 24px !important;
                color: #36383a;
            }

            .loader {
                &__spinner {
                    width: 28px !important;
                    height: 28px !important;
                }
            }
        }
    }

    .alert-custom {
        background: #ebf4ff !important;
        border: none !important;

        &::before {
            content: "\ebf7" !important;
            color: #00527c !important;
        }

        .alert__content {
            p {
                color: #00527c !important;
                font-style: normal;
                font-weight: 400;
            }
        }
    }

    .backdrop-form-person {
        background: #ffffffa6;
        display: flex;
        position: fixed;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .add-person-section {
        padding-top: 24px;
        position: relative;
        z-index: 1200;

        .select-auditor-section, .select-auditee-section {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .section__header {
                display: flex;
                align-items: center;

                h3 {
                    font-size: 0.875rem;
                    font-style: normal !important;
                    font-weight: 500 !important;
                    line-height: 24px !important;
                    color: #36383a;
                    border-right: 1px solid #cdd5df;
                    padding-right: 12px;
                }
            }

            .section__body {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .section__person-card {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .person-card__form {
                        width: 60%;
                    }

                    .person-card__delete {
                        width: 10%;

                        button {
                            .icon {
                                color: #ec3d27 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .auditor-list-section {
        padding-top: 24px !important;

        .auditor-list {
            display: flex;
            flex-direction: column;

            &__program-study {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-size: 0.875rem;
                    font-style: normal !important;
                    font-weight: 500 !important;
                    line-height: 24px !important;
                    color: #36383a;
                }

                .action {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    .btn__delete {
                        .icon {
                            color: #ec3d27 !important;
                        }
                    }
                }
            }
        }

        table {
            thead {
                tr {
                    background-color: #ffffff;

                    th {
                        border: none !important;
                    }
                }
            }

            tbody {
                tr {
                    background-color: #ffffff;

                    td {
                        border: none !important;
                        border-bottom: 1px solid #e3e8ef !important;
                    }
                }
            }
        }
    }
}
