// [START] Variable
$size-1: 0.0625rem !default; // 1px
$breakpoint-xs: 23.5rem !default; // 376px
$breakpoint-sm: 48rem !default; // 768px
$breakpoint-md: 80rem !default; // 1280px
$breakpoint-lg: 83.5rem !default; // 1336px
$breakpoint-xl: 90rem !default; // 1440px
$breakpoint-2xl: 120rem !default; // 1920px

$breakpoint-xxs-max: ($breakpoint-xs - $size-1);
$breakpoint-xs-max: ($breakpoint-sm - $size-1);
$breakpoint-sm-max: ($breakpoint-md - $size-1);
$breakpoint-md-max: ($breakpoint-lg - $size-1);
$breakpoint-lg-max: ($breakpoint-xl - $size-1);
$breakpoint-xl-max: ($breakpoint-2xl - $size-1);

$breakpoint-xs-up: "only screen and (min-width: #{$breakpoint-xs - $size-1})"; // sm-start -> up
$breakpoint-sm-up: "only screen and (min-width: #{$breakpoint-sm - $size-1})"; // sm-start -> up
$breakpoint-md-up: "only screen and (min-width: #{$breakpoint-md - $size-1})"; // md-start -> up
$breakpoint-lg-up: "only screen and (min-width: #{$breakpoint-lg - $size-1})"; // lg-start -> up
$breakpoint-xl-up: "only screen and (min-width: #{$breakpoint-xl - $size-1})"; // xl-start -> up
$breakpoint-2xl-up: "only screen and (min-width: #{$breakpoint-2xl - $size-1})"; // xl-start -> up

$breakpoint-xs-down: "only screen and (max-width: #{$breakpoint-xs - $size-1})"; // sm-start -> down
$breakpoint-sm-down: "only screen and (max-width: #{$breakpoint-sm - $size-1})"; // sm-start -> down
$breakpoint-md-down: "only screen and (max-width: #{$breakpoint-md - $size-1})"; // md-start -> down
$breakpoint-lg-down: "only screen and (max-width: #{$breakpoint-lg - $size-1})"; // lg-start -> down
$breakpoint-xl-down: "only screen and (max-width: #{$breakpoint-xl - $size-1})"; // xl-start -> down
$breakpoint-2xl-down: "only screen and (max-width: #{$breakpoint-2xl - $size-1})"; // xl-start -> down

$breakpoint-xxs-only: "only screen and (max-width: #{$breakpoint-xxs-max})"; // 0 -> xs-max
$breakpoint-xs-only: "only screen and (min-width: #{$breakpoint-xs}) and (max-width: #{$breakpoint-xs-max})"; // sm-start -> sm-max
$breakpoint-sm-only: "only screen and (min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-sm-max})"; // sm-start -> sm-max
$breakpoint-md-only: "only screen and (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-md-max})"; // md-start -> md-max
$breakpoint-lg-only: "only screen and (min-width: #{$breakpoint-lg}) and (max-width: #{$breakpoint-lg-max})"; // lg-start -> lg-max
$breakpoint-xl-only: "only screen and (min-width: #{$breakpoint-xl}) and (max-width: #{$breakpoint-xl-max})"; // lg-start -> lg-max

$breakpoint-up-prefixes: ("xxs", "xs", "sm", "md", "lg", "xl", "2xl");
$breakpoint-only-prefixes: (
    "xxs-only",
    "xs-only",
    "sm-only",
    "md-only",
    "lg-only",
    "xl-only"
);
$breakpoints: (
    "xs": $breakpoint-xs,
    "sm": $breakpoint-sm,
    "md": $breakpoint-md,
    "lg": $breakpoint-lg,
    "xl": $breakpoint-xl,
    "2xl": $breakpoint-2xl,
);
$breakpoint-up: (
    "xs": $breakpoint-xs-up,
    "sm": $breakpoint-sm-up,
    "md": $breakpoint-md-up,
    "lg": $breakpoint-lg-up,
    "xl": $breakpoint-xl-up,
    "2xl": $breakpoint-2xl-up,
);
$breakpoint-down: (
    "xs": $breakpoint-xs-down,
    "sm": $breakpoint-sm-down,
    "md": $breakpoint-md-down,
    "lg": $breakpoint-lg-down,
    "xl": $breakpoint-xl-down,
    "2xl": $breakpoint-2xl-down,
);
$breakpoint-only: (
    "xxs-only": $breakpoint-xxs-only,
    "xs-only": $breakpoint-xs-only,
    "sm-only": $breakpoint-sm-only,
    "md-only": $breakpoint-md-only,
    "lg-only": $breakpoint-lg-only,
    "xl-only": $breakpoint-xl-only,
);
// [END] Variable

@mixin media-up($breakpoint) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}
@mixin media-down($breakpoint) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}
@mixin media-only($breakpoint) {
    @media #{map-get($breakpoint-only, $breakpoint)} {
        @content;
    }
}
