.flatpickr {
    &-qn-dots {
        --qn-flatpickr-dot: #{rem(4)};
        --qn-flatpickr-dot-color: #0F6AF5;

        position: absolute;
        top: rem(30);
        left: 0;
        right: 0;
        display: flex;
        gap: rem(4);
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        height: fit-content;
        z-index: 10;
        pointer-events: none;
    }
    &-qn-dot {
        display: block;
        min-width: var(--qn-flatpickr-dot);
        width: var(--qn-flatpickr-dot);
        max-width: var(--qn-flatpickr-dot);
        min-height: var(--qn-flatpickr-dot);
        height: var(--qn-flatpickr-dot);
        max-height: var(--qn-flatpickr-dot);
        border-radius: 50%;
        background-color: var(--qn-flatpickr-dot-color);
    }
    &-day {
        position: relative;
        &.selected {
            background-color: var(--qn-primary-100);
            color: var(--qn-neutral-700);
            &:hover,
            &:focus {
                background-color: var(--qn-primary-200);
                color: var(--qn-neutral-800);
            }
        }
        &.today {
            border-color: var(--qn-primary-200);
        }
    }
}
