@import "../function/rem";
@import "../component/flatpickr";

.card {
    &_bordered {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0;
        border-radius: rem(8);
        border: rem(1) solid var(--qn-neutral-300);
        box-shadow: 0 rem(1) rem(3) 0 rgba(18, 18, 18, 0.04), 0 rem(1) rem(2) 0 rgba(18, 18, 18, 0.06);
        .card {
            &__body,
            &__footer {
                --card-bordered-bofoot-padding: #{rem(16)} #{rem(20)};
                padding: var(--card-bordered-bofoot-padding);
            }
            &__header {
                padding: rem(12) rem(16);
            }
            &__body {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                gap: rem(16);
                flex-grow: 1;
                &_for-pres-sched {
                    padding: 0;
                    flex: 1 1 auto;
                    min-height: rem(320);
                    height: 0;
                }
            }
            &__footer {
                width: 100%;
                padding-top: rem(6);
                padding-bottom: rem(6);
                background-color: var(--qn-neutral-100);
                border-bottom-right-radius: inherit;
                border-bottom-left-radius: inherit;
                &-text {
                    color: var(--qn-neutral-700);
                    font-size: rem(12);
                    font-style: normal;
                    font-weight: 500;
                    line-height: rem(18);
                }
                .icon {
                    font-size: rem(16);
                    line-height: rem(16);
                    vertical-align: top;
                }
                &-highlight {
                    font: inherit;
                    font-weight: 600;
                    color: var(--qn-warning);
                }
                .btn {
                    display: inline-flex;
                    font: inherit;
                    font-weight: 600;
                    border: none;
                    min-height: unset;
                }
            }
            &__wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: rem(10);
                &_hr {
                    flex-direction: row;
                    gap: rem(12);
                    align-items: center;
                }
            }
            &__icon {
                &-wrapper {
                    width: rem(32);
                    min-width: rem(32);
                    max-width: rem(32);
                    aspect-ratio: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: rem(8);
                    border: rem(1) solid var(--qn-primary-200);
                    background: var(--qn-primary-100);
                    box-shadow: 0 rem(-3) 0 0 rgba(171, 201, 245, 0.40) inset, 0 rem(1) rem(3) 0 rgba(18, 18, 18, 0.04), 0 rem(1) rem(2) 0 rgba(18, 18, 18, 0.06);
                }
                width: rem(20);
                min-width: rem(20);
                max-width: rem(20);
                aspect-ratio: 1;
                color: var(--qn-primary);
            }
            &__text-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: rem(6);
            }
            &__title {
                color: var(--qn-black);
                font-size: rem(16);
                font-weight: 600;
                line-height: rem(24);
                padding: 0;
            }
            &__subtitle {
                color: var(--qn-neutral-600);
                font-size: rem(12);
                font-weight: 400;
                line-height: rem(18);
            }
        }
    }
    &_bordered-bg {
        &::before {
            position: absolute;
            content: "";
            width: rem(252);
            height: 100%;
            overflow: hidden;
            border-radius: inherit;
            top: 0;
            right: 0;
            background-image: url('data:image/svg+xml,<svg width="252" height="196" viewBox="0 0 252 196" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.12" clip-path="url(%23clip0_1_927)"><mask id="mask0_1_927" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-270" width="480" height="480"><rect width="480" height="480" transform="translate(0 -270)" fill="url(%23paint0_radial_1_927)"/></mask><g mask="url(%23mask0_1_927)"><g clip-path="url(%23clip1_1_927)"><g clip-path="url(%23clip2_1_927)"><line x1="0.5" y1="-270" x2="0.5" y2="210" stroke="%234E91F6"/><line x1="32.5" y1="-270" x2="32.5" y2="210" stroke="%234E91F6"/><line x1="64.5" y1="-270" x2="64.5" y2="210" stroke="%234E91F6"/><line x1="96.5" y1="-270" x2="96.5" y2="210" stroke="%234E91F6"/><line x1="128.5" y1="-270" x2="128.5" y2="210" stroke="%234E91F6"/><line x1="160.5" y1="-270" x2="160.5" y2="210" stroke="%234E91F6"/><line x1="192.5" y1="-270" x2="192.5" y2="210" stroke="%234E91F6"/><line x1="224.5" y1="-270" x2="224.5" y2="210" stroke="%234E91F6"/></g><rect x="0.5" y="-269.5" width="479" height="479" stroke="%234E91F6"/><g clip-path="url(%23clip3_1_927)"><line y1="17.5" x2="480" y2="17.5" stroke="%234E91F6"/><line y1="49.5" x2="480" y2="49.5" stroke="%234E91F6"/><line y1="81.5" x2="480" y2="81.5" stroke="%234E91F6"/><line y1="113.5" x2="480" y2="113.5" stroke="%234E91F6"/><line y1="145.5" x2="480" y2="145.5" stroke="%234E91F6"/><line y1="177.5" x2="480" y2="177.5" stroke="%234E91F6"/></g><rect x="0.5" y="-269.5" width="479" height="479" stroke="%234E91F6"/></g></g></g><defs><radialGradient id="paint0_radial_1_927" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(240 240) rotate(90) scale(240 240)"><stop/><stop offset="1" stop-opacity="0"/></radialGradient><clipPath id="clip0_1_927"><rect width="480" height="320" fill="white" transform="translate(0 -110)"/></clipPath><clipPath id="clip1_1_927"><rect width="480" height="480" fill="white" transform="translate(0 -270)"/></clipPath><clipPath id="clip2_1_927"><rect y="-270" width="480" height="480" fill="white"/></clipPath><clipPath id="clip3_1_927"><rect y="-270" width="480" height="480" fill="white"/></clipPath></defs></svg>');
            background-size: 100% auto;
            background-repeat: no-repeat;
            pointer-events: none;
        }
        .card__body {
            > * {
                width: fit-content;
            }
        }
    }
    &_overflow-hidden {
        overflow: hidden;
    }
    &__body {
        position: relative;
        z-index: 0;
        &_shadow-top {
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: rem(80);
                top: 0;
                left: 0;
                background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
                pointer-events: none;
                z-index: 1;
            }
        }
        &_shadow-bottom {
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: rem(80);
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
                pointer-events: none;
                z-index: 1;
            }
        }
    }
}
.cell {
    &-nowrap {
        white-space: nowrap;
    }
}
.box-table {
    &__header {
        &_b-bordered {
            border-bottom: rem(1) solid var(--qn-neutral-300);
            padding: rem(12) rem(16);
        }
        &_y-paddingless {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
.option-title-alt {
    display: none;
}

select[id] {
    + .choices__list .choices__item {
        &::before {
            font: inherit;
            font-weight: 400;
            color: var(--qn-neutral-700);
            content: unset;
        }
        font-weight: 600;
        color: var(--qn-neutral-700);
    }
}
#select-dropdown-page-period,
#select-dropdown-research-history-period,
#select-dropdown-community-service-history-period,
#select-dropdown-proposal-period,
#select-dropdown-proposal-presentation-period,
#select-dropdown-proposal-report-period,
#select-dropdown-output-assessment-period {
    + .choices__list .choices__item {
        &::before {
            content: "Periode:";
        }
    }
}
#select-dropdown-page-type-activity,
#select-dropdown-proposal-type-activity,
#select-dropdown-proposal-presentation-type-activity,
#select-dropdown-proposal-report-type-activity,
#select-dropdown-output-assessment-type-activity {
    + .choices__list .choices__item {
        &::before {
            content: "Jenis Pendanaan:";
        }
    }
}

.nav-tab {
    &_lineless {
        .nav-tab__wrapper {
            border-bottom: none;
        }
    }
    &_phill-half {
        width: 100%;
        .nav-tab__item {
            flex: 1;
            justify-content: center;
        }
    }
}

.tab-pane {
    &_paddingless {
        padding: 0;
    }
}

.callout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(12);
    border-radius: 0;
    border: unset;
    border-left: rem(2) solid #9CBDD6;
    background: #F0F7FD;
    padding: rem(10) rem(20);
    overflow-x: auto;
    &::-webkit-scrollbar-track {
        background: #F0F7FD;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--qn-neutral-300);
        border-color: #F0F7FD;
    }
    &__title {
        color: var(--qn-neutral-900);
        font-size: rem(12);
        font-weight: 600;
        line-height: rem(18);
    }
    &__wrapper {
        display: flex;
        gap: rem(100);
        min-width: fit-content;
    }
    &__list {
        padding-left: rem(22);
        color: var(--qn-neutral-700);
        font-size: rem(12);
        font-weight: 500;
        line-height: rem(24);
        display: flex;
        flex-direction: column;
        gap: rem(4);
        white-space: nowrap;
    }
    &__item {
        color: inherit;
        font: inherit;
    }
}

.flatpickr-calendar {
    font-family: inherit;
}
.form-control__input {
    &_inline-calendar {
        display: none;
        + .flatpickr-calendar {
            inset: 0;
            box-shadow: unset;
            margin: 0 auto;
        }
    }
}
.pres-sched-wrapper {
    width: 100%;
    padding: var(--card-bordered-bofoot-padding);
    overflow-y: auto;
}
.schedule-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(16);
}

.card-sched {
    position: relative;
    padding: rem(12);
    border-radius: rem(8);
    background: transparent;
    border: rem(1) solid var(--qn-neutral-300);
    transition: opacity 0.8s ease;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    &::before {
        position: absolute;
        content: "";
        border: inherit;
        border-radius: inherit;
        inset: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        opacity: 1;
        transition: inherit;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: "";
        border: inherit;
        border-radius: inherit;
        inset: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        opacity: 0;
        transition: inherit;
        z-index: -2;
    }
    &:hover,
    &:focus {
        &::before {
            opacity: 0.1;
        }
        &::after {
            opacity: 1;
        }
        .card-sched__title {
            text-decoration: underline;
            color: var(--qn-primary-400);
        }
    }
    &_primary {
        &::before {
            background: linear-gradient(103deg, #FCFCFD 15.67%, #ABC9F5 223.86%);
        }
        &::after {
            background: var(--qn-primary-100);
        }
    }
    &_success {
        &::before {
            background: linear-gradient(106deg, #FCFCFD 15.68%, #99F6E0 237.91%);
        }
        &::after {
            background: var(--qn-success-100);
        }
    }
    &_warning {
        &::before {
            background: linear-gradient(103deg, #FCFCFD 15.67%, #FFF7E9 164.55%);
        }
        &::after {
            background: var(--qn-warning-100);
        }
    }
    &_on-load {
        border: none;
        @keyframes loading {
            0% {
              background-position: 200% 0;
            }
            100% {
              background-position: -200% 0;
            }
        }
        * {
            background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
            background-size: 200% 100%;
            animation: loading 1.5s infinite;
            overflow: hidden;
            text-indent: -640rem;
            border-radius: rem(6);
            border: none;
        }
        .card-sched {
            background: #FFF;
            &::before {
                background: transparent;
            }
            &::after {
                background: transparent;
            }
            &__title {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                min-height: rem(40);
                max-height: rem(40);
                height: rem(40);
            }
            &__desc {
                margin-top: rem(8);
                padding: none;
                width: 65%;
                min-width: 65%;
                max-width: 65%;
                min-height: rem(18);
                max-height: rem(18);
                height: rem(18);
            }
            &__wrapper {
                background: unset;
            }
            &__avatar-wrapper {
                width: 18%;
                min-width: 18%;
                max-width: 18%;
                min-height: rem(24);
                max-height: rem(24);
                height: rem(24);
                > * {
                    display: none;
                }
            }
        }
        .badge {
            width: 30%;
            min-width: 30%;
            max-width: 30%;
            min-height: rem(18);
            max-height: rem(18);
            height: rem(18);
        }
    }
    &__title {
        color: var(--qn-black);
        font-size: rem(14);
        font-weight: 600;
        line-height: rem(20);
        transition: color 0.25s ease-in-out;
    }
    &__desc {
        padding-top: rem(8);
        color: var(--qn-neutral-600);
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(18);
    }
    &__wrapper {
        padding-top: rem(12);
        display: flex;
        flex-wrap: wrap;
        gap: rem(12);
        justify-content: space-between;
        align-items: center;
    }
    &__avatar-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0;
        align-items: center;
        > *:not(:first-child) {
            margin-left: rem(-8);
        }
    }
}

.avatar {
    &_more {
        --qn-avatar-radius-border-size: 50%;
        --qn-avatar-border-size: #{rem(2)};
        --qn-avatar-background-color: var(--qn-neutral-300);
        .avatar__acronym {
            color: var(--qn-neutral-600);
            font-size: rem(12);
            font-style: normal;
            font-weight: 600;
            line-height: rem(18);
        }
    }
}

.modal {
    &_inv-detail {
        .modal {
            &__header::before {
                content: "\ec3d";
            }
            &__header {
                border-bottom: rem(1) solid var(--qn-neutral-300);
            }
            &__body {
                display: flex;
                flex-direction: column;
                gap: rem(20);
                padding: rem(16) rem(20);
                height: fit-content;
                max-height: rem(360);
                overflow: auto;
            }
            &__footer {
                border-top: rem(1) solid var(--qn-neutral-300);
            }
        }
    }
}

.inv-item {
    display: flex;
    gap: rem(8);
    border-radius: rem(8);
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    &__title {
        width: 100%;
        word-break: break-word;
        color: var(--qn-neutral-900);
        font-size: rem(14);
        font-weight: 600;
        line-height: rem(20);
    }
    &__title,
    &__desc,
    &__label {
        width: 100%;
        word-break: break-word;
    }
    &__title {
        color: var(--qn-neutral-900);
        font-size: rem(14);
        font-weight: 600;
        line-height: rem(20);
    }
    &__desc {
        color: var(--qn-neutral-700);
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(18);
    }
    &__label {
        padding-top: rem(4);
        color: var(--qn-neutral-700);
        font-size: rem(11);
        font-weight: 400;
        line-height: rem(18);
    }
    &__action {
        display: flex;
        gap: rem(8);
        align-self: center;
        align-items: center;

        .btn_icon.btn_xs {
            --qn-btn-icon-padding-size: #{rem(6)};
            --qn-btn-height-size: #{rem(30)};
        }
    }
}

.empty-state {
    width: rem(376);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(6);
    margin: 0 auto;
    padding: rem(60) 0 rem(160);
    &_inv-detail {
        padding: rem(16) 0;
    }
    &_illust-less {
        width: rem(394);
        .empty-state__illust {
            opacity: 0;
            pointer-events: none;
        }
    }
    &__illust {
        &-wrapper {
            width: rem(124);
            max-width: 100%;
            height: fit-content;
            padding-bottom: rem(2);
        }
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .empty-state__title {
        color: var(--qn-neutral-800);
        font-size: rem(16);
        font-weight: 600;
        line-height: rem(28);
    }
    .empty-state__sub-title {
        color: var(--qn-neutral-800);
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(24);
    }
    &__action {
        max-width: 100%;
        padding-right: rem(18);
        display: flex;
        gap: rem(8);
        flex-wrap: wrap;
        > * {
            width: fit-content;
        }
    }
}
