@import "../../../../../../public/scss/media";
@import "../../../../../../resources/scss/custom-utils.scss";

.legend {
    padding: 8px 20px;
    background-color: #f1f6fe;
    border-left: 3px solid #abc9f5;
    width: 100%;
    gap: 6px;
    display: flex;
    flex-direction: column;

    &__section {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;

        &_left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 20%;

            h3 {
                color: #337ff1;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }
        }

        &_right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 80%;
            padding-left: 20px;

            p {
                color: #36383a;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
}

body {
    .main > form > .container {
        max-width: 100% !important;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .section-content {
        flex-direction: column !important;
        padding: 0.625rem 1rem !important;
    }

    .col-gap {
        column-gap: 4rem !important;
    }

    .card_details-default {
        max-width: 86rem;
        margin: 1.25rem 0px;
        box-shadow: none;
        border: 1.5px solid #f0f1f1 !important;
    }

    .gap-8 {
        gap: 8px;
    }

    .gap-16 {
        gap: 16px;
    }

    .dot {
        padding: 10px;
        height: fit-content;
        border-radius: 4px;

        &.dot-primary {
            background-color: #466bec;
        }

        &.dot-danger {
            background-color: #ef2f3c;
        }

        &.dot-warning {
            background-color: #f99639;
        }

        &.dot-light-blue {
            background-color: #5d88f6;
        }

        &.dot-yellow {
            background-color: #eba871;
        }

        &.dot-obs {
            background-color: #ffcf24;
        }

        &.dot-ktmn {
            background-color: #f08d1c;
        }

        &.dot-ktmy {
            background-color: #ec4542;
        }
    }

    .section {
        &__header {
            border-bottom: 1.4px solid #0f6af5;
            line-height: 32px;

            h3 {
                color: #0f6af5;
            }
        }

        &__body {
            width: 100%;
            padding: 12px;
            gap: 17px;

            .chart-box {
                padding-top: 2rem;
                width: 90%;
            }

            // @include media-up("2xl") {
            //     .chart-box {
            //         width: 425px;
            //     }
            // }

            // @include media-up("xl") {
            //     .chart-box {
            //         width: 425px;
            //     }
            // }

            .chart-desc {
                padding-top: 4rem;
                line-height: 1.62rem;

                &:nth-last-child(1) {
                    padding-bottom: 4rem;
                }
            }

            .table-data {
                padding-top: 1rem;
                thead,
                tbody {
                    tr {
                        th {
                            background-color: #eef2f6 !important;
                            border-right: 1px solid #cdd5df !important;
                            border-bottom: 1px solid #cdd5df;
                            border-top: 1px solid #cdd5df;

                            &:first-child {
                                border-left: 1px solid #cdd5df !important;
                            }
                        }
                    }

                    // stripped table td with background #f9fafc
                    tr:nth-child(odd) {
                        background-color: #f9fafc;
                    }

                    td {
                        &.align-right {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
